<style>
    body{
        background:lightpink;
    }
</style>
<h1 style="text-align:center">HOŞGELDİNİZ!</h1>
<h3 style="text-align:center"> <%= t('hello') %></h3>
<br></br>

<h4 style="text-align:center; color:red;"><strong>Rukiye Endes</strong></h4>